<!--
<!DOCTYPE html>
<html lang="en">
<img src="{{imgpath}}" width="250"/>
<h1>Top {{suggested_labels|length}} predictions:</h1>
{%for i in range(0, suggested_labels|length)%}
	<p>{{i + 1}}. {{suggested_labels[i]}}</p>
	<img src="{{"static/VMMRdb/" + suggested_filenames[i]}}" width="200"/>
{%endfor%}
</html>
-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset=utf-8 />
  <title></title>
  <style>
    div.container {
      display:inline-block;
    }

    p {
      text-align:center;
    }
  </style>
</head>

<h1>Top similar predictions:</h1>
<div class="container">
    <img src="{{img_1}}" width="200"/>
    <p>"{{labels_1}}"</p>
</div>
<div class="container">
	<img src="{{img_2}}" width="200"/>
	<p>"{{labels_2}}"</p>
</div>
<div class="container">
	<img src="{{img_3}}" width="200"/>
	<p>"{{labels_3}}"</p>
</div>
</html>